<!DOCTYPE html>
<html>
</head>
    <body>
        <label for=" firstname">firstname:</label><br>
        <input type="text" id="firstname" name="firstname"><br>
        <label for="lastname">lastname:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        <label for="email">email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">password:</label><br>
        <input type="password" id="password" name="password"><br> 
        <label for="email">email:</label><br>
        <input type="number" id="email" name="email" step="any"><br>
        <label for="contact">contact:</label><br>
        <input type="contact" id="contact" name="contact"><br>
        <label for="address">address:</label><br>
        <input type="address" id="address" name="address"><br>
        <input type="submit" value="submit">

</body>
</html>



    <nav>
        <img src="C:\Users\HP\OneDrive\Desktop\web\project\media\profile_images\download.jpg{%static 'images/img.jpg' %}>
        <a href="{% url 'index' %}>Home</a>
        <a href="{% url 'about_page' %}">about</a>
        <a href="{% url 'contact_page' %}">contact</a>

        <div class="image-container">
             <img src="C:\Users\HP\OneDrive\Desktop\web\project\media\profile_images\download.jpg{%static 'images/img.jpg' %}>
    </div>